node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

*.log
*.sqlite
.htaccess
